html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.app-container,
.font-render {
  left: 0;
  position: absolute;
  top: 0;
}

.app-container {
  height: 100%;
  width: 100%;
}

.font-render {
  display: none;
}

.text-input {
  border: 1px solid $grey;
  color: $black;
  display: none;
  font-family: Helvetica;
  font-size: 16px;
  left: 20px;
  min-width: 220px;
  outline: 0;
  padding: 20px;
  position: absolute;
  top: 20px;

  @media (min-width: 600px) {
    min-width: 250px;
  }
}

.loaded {
  .font-render,
  .text-input {
    display: block;
  }
}
